.export-page-wrapper {
    display: block;
    width: auto;
    height: 733px;
    background-color: rgb(22, 95, 95);
}

.row-wrapper {
    display: flex;
    flex-direction: row;
}

.target {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 4px;
}


.target.selected {
    width: 40px;
    height: 40px;
    background-color: steelblue;
    border-radius: 4px;
}

.node-item-input {
    justify-content: center;
    margin: 5px;
}